.video-sub-container {
  display: flex;
  padding: 0.5rem;
}
.video-info {
  width: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-info1 {
  display: flex;
  width: 50%;
  padding: 0.5rem;
  justify-content: center;
  background-color: #000;
}
.video-player {
  width: 50%;
  padding: 0.5rem;
}
.video-player-height {
  height: 350;
}
.video-desc {
  width: 50%;
  padding: 0.5rem;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .video-sub-container {
    display: block;
  }
  .video-player {
    width: 100%;
    padding: 0.5rem;
  }
  .video-player-height {
    height: 12rem;
  }
  .video-desc {
    width: 100%;
    padding: 0.5rem;
    display: block;
  }
  .video-info {
    width: 100%;
    margin-bottom: 1rem;
  }
  .video-info1 {
    width: 100%;
  }
}
