.shopping-heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #004c8f;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.shopping-items {
  text-align: center;
}
.shopping-icons-items {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .shopping-icons-items {
    display: block;
    text-align: center;
  }
  .shopping-items-title {
    margin-bottom: 1rem;
  }
}
