#root {
  height: 100vh;
  width: 100%;
  /* font-family: "Roboto"; */
  font-size: 0.875rem;
}

.top-nav-bar {
  height: 5rem;
  background-color: #004c8f;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-container {
  height: 80%;
  overflow: scroll;
}
