.sub-menu-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--bg-sub-menu);
  color: var(--default-color);
}
@media only screen and (max-width: 767px) {
  .sub-menu-container {
    width: 100%;
    overflow-y: overlay;
  }
  .sub-menu-titile {
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
  }
}
